body {
    font-size: 26px;
    background-color: #ccc;
}

.list-group-item {
    padding: 15px 30px;
}

.small {
	font-size: 20px;
}

.unimportant {
	font-size: 18px;
	color: #999;
}


.form-control {
	font-size: 26px;
	height: 40px;
	text-align: right;
}

.table > tbody > tr > td {
	text-align: right;
}

.table > tbody > tr > td.center {
	text-align: center;
}

@media print {    
    .no-print, .no-print * {
        display: none !important;
    }
}

.tab-content {
	background-color: #fff;
	-moz-border-bottom-colors: #999;
    -moz-border-left-colors: #999;
    -moz-border-right-colors: #999;
    -moz-border-top-colors: none;
    border-color: #fff transparent;
    border-image: none;
    border-style: solid;
    border-width: 4px;
    padding: 10px 20px;
    position: relative;
}
.tab-content > div {
	max-height:100%;
	overflow: auto;
}

#offGrid > div {
	max-height:100%;
	overflow: auto;
	background-color: #fff;
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: #999;
    -moz-border-right-colors: #999;
    -moz-border-top-colors: #999;
    background-color: white;
    border-color: #ddd #ddd transparent;
    border-image: none;
    border-style: solid;
    border-width: 4px;
    color: #555;
    cursor: default;
}

.nav-tabs {
    border-bottom: 4px solid #999;
    background-color: #ccc;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -4px;
}

.nav-tabs > li > a {
   cursor: pointer;
   padding: 10px 50px;
}





